<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <base href="@Url.Content("~")" />
    <link rel="stylesheet" type="text/css" media="screen" href="smartAdmin/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="smartAdmin/css/smartadmin-production.min.css">

    <link href="~/smartAdmin/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  class="fixed-header fixed-navigation smart-rtl" data-ui-view="root" data-autoscroll="false">
    <div>@Html.Partial("~/Views/Partials/Header.cshtml")</div>
    @RenderBody()

    <div class="pnlWait" title="loading" style="display: none;">
        <h5>
            <img style="display:inline-block;padding:10px 10px" src="@Url.Content("~/")images/loading-icon.gif" />
        </h5>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/general")
    @RenderSection("scripts", required: false)
</body>
</html>
